<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CryptoXap - Payments</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="container">
    <div class="card-holder">
      <h1>CryptoXap Payments</h1>
      <div class="card-wrap">
        <div class="front">
          <div class="input-wrap">
            <input type="text" id="customer-id" placeholder="Número de Identificación" />
          </div>
          <div class="input-wrap">
            <input type="email" id="email" placeholder="Email" />
          </div>
          <div class="input-wrap input-wrap">
            <input type="text" placeholder="Importe a pagar" id="amount" />
          </div>
          <input id="pay-submit" type="submit" value="Enviar pago" />
        </div>
      </div>
    </div>
  </div>
  <script src="assets/js/main.js"></script>
</body>

</html>