<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CryptoXap - Payments</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="card-holder">
      <h1>CryptoXap Payments</h1>
      <img src="assets/img/logocryp.svg" class="logocryp">
      <div class="card-wrap">
        <div class="front">
          <h4 class="col-lg-12 col-sm-12 subti">
            {{ message }}
          </h4>
           <br>
          <br>
          <input id="pay-submit" type="submit" value="Finalizar" onclick="window.location.href='/';" />
        </div>
      </div>
      <br>
      <br>
      <br>
      <p class="smalls px10 txt-center verde">Copyright © 2018 - Grupo XAP</a>
      </p>
    </div>
  </div>

</body>

</html>